<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/links'); -%>
    <title>Note</title>
</head>
<body>
    <%- include('./partials/header'); %>

    <%- include('./partials/searchbar'); %>

    <h1 style="color: #266B59; text-align: center;">Today</h1>

    <div class="whitebtn">
        <div class="icon"></div>
            <p class="bold">groceries</p>
            <i class="fas fa-plus" id="contentPlus"></i>
        </div>
    </div>

    <%- include('./partials/listFooter'); %>
</body>
</html>