<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/links'); %>
    <title>Main</title>
</head>

<body>
    <%- include('./partials/header'); %>

    <!-- options -->
    <div class="">
        <a class="whitebtn" href="/secure/image">
            <div class="icon"></div>
            <p class="bold">Add Image</p>
            <div class="plusbtn">
                <i class="fas fa-plus"></i>
            </div>
        </a>
        </br>
        </br>
        <a class="whitebtn" href="/secure/list">
            <div class="icon"></div>
            <p class="bold">Add List</p>
            <div class="plusbtn">
                <i class="fas fa-plus"></i>
            </div>
        </a>
        <br />
        <br />
        <a class="whitebtn" href="/secure/note">
            <div class="icon"></div>
            <p class="bold">Add Note</p>
            <div class="plusbtn">
                <i class="fas fa-plus"></i>
            </div>
        </a>
    </div>

    <%- include('./partials/mainFooter'); %>

</body>

</html>