<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/links'); %>
    <title>Notebook</title>
</head>

<body>
    <%- include('./partials/header'); %>

    <%- include('./partials/searchbar'); %>

    <h1 style="color: #266B59; text-align: center; margin-top: 15%;">Notebook 1</h1>

    <div class="whitebtn">
        <div class="icon"></div>
        <p class="bold">Class 2</p>
        <i class="fas fa-plus" id="contentPlus"></i>
    </div>
    </div>

    <%- include('./partials/noteFooter'); %>
</body>

</html>