<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Public/style/addnew.css">
    <link rel="stylesheet" href="../../Public/style/text.css">
    <title>Document</title>
</head>
<body>
    <div class="whitebtn">
        <div class="icon"></div>
        <p class="bold">Add Note</p>
        <div class="plusbtn">
        </div>
    </div>
    
</body>
</html>