<footer class="menucontainer"> 
    <div class="menuitem">
        <i class="fas fa-th"></i>
    </div>

    <div class="menuitem">
        <i class="fas fa-images"></i>
    </div>

    <div class="menuitem">
        <i class="fas fa-list"></i>
    </div>

    <div class="menuitem">
        <i class="fas fa-sticky-note"></i>
    </div>
</footer>

<!-- TODO: maybe activate icon when page is on -->
