<header class="navcontainer">
    <a class="backbutton" onclick="goBack()">
        <i class="fas fa-arrow-left"></i>
    </a>

    <div class="logoutBtn">
        <a href="/user/logout" id="logout">
            <p>Log Out</p>
        </a>
    </div>
</header>
</br>
</br>
</br>