<header class="navcontainer">
    <div class="backbutton">
        <!-- TODO: go back function -->
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="logoutBtn">
        <a href="/user/logout" id="logout">
            <p>Log Out</p>
        </a>
    </div>
</header>
</br>
</br>
</br>