<footer class="menucontainer">
    <a class="menuitem" href="/main">
        <i class="fas fa-th"></i>
    </a>
    <a class="menuitem on" href="/secure/image">
        <i class="fas fa-images"></i>
    </a>
    <a class="menuitem" href="/secure/list">
        <i class="fas fa-list"></i>
    </a>
    <a class="menuitem" href="/secure/notebook">
        <i class="fas fa-sticky-note"></i>
    </a>
</footer>

