<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Public/style/menubar.css">
    <link rel="stylesheet" href="../../Public/style/text.css">
    <script src="https://kit.fontawesome.com/0dd19e9642.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="menucontainer">
        <div class="menuitem"><i class="fas fa-th"></i></div>
        <div class="menuitem"><i class="fas fa-images"></i></div>
        <div class="menuitem"><i class="fas fa-list"></i></div>
        <div class="menuitem"><i class="fas fa-sticky-note"></i></div>
    </div>
</body>
</html>