<div class="SB_container">
    <form class="SearchBar" method="POST" action="/secure/notebook/try">   
        <input placeholder="Looking for something?" id="sb_form" name="keyword"></input>
        <div class="SearchBar_Img"> </div>
    </form>
</div>

</br>
</br>



