<div class="SB_container">
    <form class="SearchBar" method="POST" action="/secure/notebook/search">   
        <input placeholder="Looking for something?" id="sb_form" name="keyword"></input>
        <a class="SearchBar_Img" href="/main/setting"> </a>
    </form>
</div>

</br>
</br>



