<div class="SB_container">
    <div class="SearchBar" type="form"> 
        <i class="fa fa-search"></i>     
        <input type="form" placeholder="Looking for something?" id="sb_form" ></input>
        <!-- <div className="SearchBar_Img" > {img_avatar} </div> -->
    </div>
</div>
</br>
</br>