/* body{
    background-color: #145844;
} */

/* button text */
.btn p, .btn02 p, .hardbtn p{
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    Letter-Spacing: 0.50px;
    Font-Size: 18px;
    Line-Height: 22px;
    line-height: 50%;
    align-self: center;
}

.btn p{
    color: #f7f7f7;
}

.btn02 p{
    color: #000000;
}

.hardbtn p {
    color: #ffffff;
}

/* Button Border*/
.hardbtn, .btn, .btn02{
    height: 44px;
    width: 200px;
    margin: 0 16px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 300ms;
    margin: 60px;
}

.btn {
    background: #145844;
    box-shadow: 20px 20px 30px #0f4132, -20px -20px 30px #196f56;
    border: 1px solid rgba(96, 128, 96, 0.151);
}

.btn02 {
    background: #c8dbcc;
    box-shadow: 20px 20px 30px #0f4132, -20px -20px 30px #196f56;
    border: 1px solid rgba(87, 105, 90, 0.027);
}

.hardbtn {
    background: #358e76;
    border: 1px solid rgba(96, 128, 96, 0.119);
}

/* button effects */
.btn i {
    font-size: 40px;
    color: #727272;
    transition: all 400ms;
}

.hardbtn i {
    font-size: 40px;
    color: #727272;
    transition: all 400ms;
}

.btn:hover i {
    transform: scale(0.96);
}

.hardbtn:hover i {
    transform: scale(0.96);
}

.btn:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
    transition: all 0.1s;
}

.hardbtn:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
    transition: all 0.1s;
}

.btn:active {
    box-shadow: inset 20px 20px 56px #104838, inset -20px -20px 56px #186850;
    transition: all 0.1s;
    transform: translateY(2px);
}

.hardbtn:active {
    box-shadow: inset 20px 20px 56px #104838, inset -20px -20px 56px #186850;
    transition: all 0.1s;
    transform: translateY(2px);
}

.btn02:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
    transition: all 0.1s;
}

.btn02:active {
    box-shadow: inset 20px 20px 47px #96a499,inset -20px -20px 47px #faffff;
    transition: all 0.1s;
    transform: translateY(2px);
}