.albumOption {
    position: absolute;
    width: 97%;
    top: 15%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #bec0c5;
    color: #358e76;
}

.albumOption a:hover {
    background: #358e76;
    color: white;
    border-radius: 11px;
    width: 70px;
    height: 30px;
    display: table;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.carousel_border {
    position: absolute;
    width: 97%;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #bec0c5;
}

.carousel_border * {
    align-items: center;
    text-align: center;
    margin: auto;
}
