.albumOption {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px#bec0c5 solid;
}

.albumOption a {
    color: #358e76;
}

.albumOption a:hover {
    background: #358e76;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.carousel_border {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #bec0c5;
}

.carousel_border * {
    align-items: center;
    text-align: center;
    margin: auto;
}
