body {
    margin: 0;
    padding: 0;
    background: #145844;
}
  
.App {
  text-align: center;
}
  
#logo-text {
    position: absolute;
    left: 40%;
    right: 40%;
    top: 40%;
    bottom: 40%;
    animation-name: fadeOut;
    animation-duration: 3s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut{
    0%{
      opacity: 1;
      transform: rotateX(90deg);
    }
    50%{
      opacity: 0.5;
      transform: rotateX(90deg);
    }
    100%{
      display: none;
      opacity: 0;
      transform: rotateX(90deg);
    }
}
  
.greet {
    animation-name: fadeIn;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}
@keyframes fadeIn{
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
#logo{
    position: absolute;
    left: 20%;
    right: 60%;
    top: 31.58%;
    bottom: 58.6%;
}
  
h2{
    position: absolute;
    left: 20%;
    right: 20%;
    top: 50%;
    bottom: 50%;
  
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.22px;
    color: #E8EFF5;
}
  
.btn {
    position: absolute;
    left: 20%;
    right: 10%;
    top: 60%;
    bottom: 70%;
}
  
.btn02 {
    position: absolute;
    left: 60%;
    right: 30%;
    top: 60%;
    bottom: 70%;
}
  