body {
    background: #145844;
}
  
#logo-text {
    position: absolute;
    margin: auto;
    left: 10%;
    right: 15%;
    top: 30%;
    bottom: 40%;
    animation-name: fadeOut;
    animation-duration: 3s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut{
    0%{
      opacity: 1;
      transform: rotateX(90deg);
    }
    50%{
      opacity: 0.5;
      transform: rotateX(90deg);
    }
    100%{
      display: none;
      opacity: 0;
      transform: rotateX(90deg);
    }
}
  
.greet {
    animation-name: fadeIn;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}
@keyframes fadeIn{
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
#logo{
    position: absolute;
    left: 20%;
    top: 20%;
    margin: auto;
}
  
h2{
    position: absolute;
    margin: auto;
    left: 20%;
    top: 35%;
  
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.22px;
    color: #E8EFF5;
}
  
.btn {
    margin: auto;
    position: absolute;
    left: 15%;
    top: 60%;
}
  
.btn02 {
    margin: auto;
    position: absolute;
    left: 15%;
    top: 70%;
}
  