* {
    align-items: center;
}

i {
    color: #ffffff;
}

/* header nav bar */
.navcontainer {
    position: fixed;
    width: 100vw;
    height: 117px;
    top: -56px;
    left: 0;
    display: flex;
    background: radial-gradient(
        53.35% 81.04% at 50% 0%,
        #358e76 0%,
        #145844 100%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 1000;
}

.backbutton {
    width: 25px;
    height: 25px;
    position: relative;
    bottom: 15px;
    left: 5%;
}

#logout {
    position: relative;
    right: 50%;
    bottom: 5px;
    text-decoration: none;
    color: white;
}

.options {
    margin-top: 15%;
}

/* search bar */
.SB_container {
    position: absolute;
    top: 12%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.SearchBar {
    border-radius: 50px;
    border: #358e76 2px solid;
    height: 45px;
    width: 300px;
    text-indent: 15px;
    font-family: Montserrat;
    font-size: 10pt;
    box-shadow: grey 1px 1px 5px;
}

.SearchBar_Img {
    width: 35px;
    height: 35px;
    border: 2px #358e76 solid;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    left: 260px;
    justify-content: right;
}

#sb_form {
    text-indent: 15px;
    font-family: Montserrat;
    font-size: 10pt;
    position: absolute;
    top: 25%;
    width: 240px;
}

/* add new contents */
.whitebtn {
    background-color: #ffffff;
    height: 70px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-decoration: none;
}

.bold {
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    color: #358e76;
}

.plusbtn {
    height: 40px;
    width: 40px;
    background: #358e76;
    border: 3px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: absolute;
    left: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentPlus {
    position: absolute;
    left: 40%;
    bottom: 30%;
}

/* collapsible list items */
.collapsible {
    cursor: pointer;
    border: none;
    outline: none;
}

.collapsible:after {
    content: "\002B";
    font-size: 28px;
    color: #358e76;
    font-weight: bold;
    float: right;
    margin-left: 75%;
    position: absolute;
}

.active:after {
    content: "\2212";
    height: auto;
}

.items {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: #358e76;
}

/* add new notebook overlay */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.closebtn {
    position: absolute;
    top: 15%;
    right: 45px;
    font-size: 40px;
    cursor: pointer;
}

.txtInfo {
    color: grey;
    box-shadow: 1px 1px 5px;
    border: #358e76 1px solid;
    border-radius: 15px;
    text-indent: 15px;
    display: inline-block;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 30px;
}

/* add image in new note */
#addImg {
    position: absolute;
    bottom: 10%;
    right: 0%;
}

/* menu bar */
.menucontainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: radial-gradient(
            120.95% 120.95% at 50% -20.95%,
            #145844 0%,
            #358e76 100%
        ),
        #358e76;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
}

.menuitem {
    padding: 10px;
    margin: 25px;
    border: #ffffff00 1px solid;
    border-radius: 15%;
}

.menuitem:hover {
    position: relative;
    bottom: 15px;
    border-radius: 100%;
    border: #ffffff 5px solid;
    background: radial-gradient(
            120.95% 120.95% at 50% -20.95%,
            #145844 0%,
            #358e76 100%
        ),
        #358e76;
    transition: all 0.3s ease-in-out;
}

.on {
    position: relative;
    bottom: 15px;
    border-radius: 100%;
    border: #ffffff 5px solid;
    background: radial-gradient(
            120.95% 120.95% at 50% -20.95%,
            #145844 0%,
            #358e76 100%
        ),
        #358e76;
    transition: all 0.3s ease-in-out;
}
