* {
    align-items: center;
}

i {
    color: #ffffff;
}

/* header nav bar */
.navcontainer {
    position: fixed;
    width: 100vw;
    height: 117px;
    top: -56px;
    left: 0;
    display: flex;
    background: radial-gradient(53.35% 81.04% at 50% 0%, #358E76 0%, #145844 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    align-items: flex-end;
}

.backbutton {
    width: 25px;
    height: 25px;
    position: relative;
    bottom: 15px;
    left: 20px;
}

/* search bar */
.SB_container {
    position: absolute;
    top: 12%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.SearchBar {
    border-radius: 50px;
    border: #358E76 2px solid;
    height: 45px;
    width: 300px;
    text-indent: 15px;
    font-family: Montserrat;
    font-size: 10pt;
    box-shadow: grey 1px 1px 5px;
}

/* .SearchBar_Img {
    width: 35px;
    height: 35px;
    border: 2px #358E76 solid;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    left: 260px;
    justify-content: right;
} */

#sb_form {
    text-indent: 15px;
    font-family: Montserrat;
    font-size: 10pt;
    border: white;
    position: absolute;
    top: 12px;
    width: 240px;
}

/* add new buttons */
.whitebtn {
    background-color:#ffffff;
    height: 70px;
    width: 350px;
    margin-left: auto; 
    margin-right: auto;
    display: inline-flex;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.bold {
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    color: #358E76;
}

.plusbtn {
    height: 40px;
    width: 40px;
    background: #358E76;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: absolute;
    left: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contentPlus {
    color: #358E76;
    position: absolute;
    left: 300px;
}

/* menu bar */
.menucontainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: radial-gradient(120.95% 120.95% at 50% -20.95%, #145844 0%, #358E76 100%), #358E76;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
}

.menuitem{
    padding: 10px;
    margin: 25px;
    border: #ffffff00 1px solid;
    border-radius: 15%;
}

.menuitem:hover {
    position: relative;
    bottom: 15px;
    border-radius: 100%;
    border: #ffffff 5px solid;
    background: radial-gradient(120.95% 120.95% at 50% -20.95%, #145844 0%, #358E76 100%), #358E76;
    transition: all 0.3s ease-in-out;
}

.menuitem:active {
    position: relative;
    bottom: 15px;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    border: #ffffff 5px solid;
    background: radial-gradient(120.95% 120.95% at 50% -20.95%, #145844 0%, #358E76 100%), #358E76;
}