.menucontainer {
    width: 414px;
    height: 74px;
    left: 0px;
    top: 2px;
    background: radial-gradient(120.95% 120.95% at 50% -20.95%, #145844 0%, #358E76 100%), #358E76;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.menuitem{
    padding: 10px;
    margin: 25px;
    display: flex;
    align-items: center;
    border: #ffffff00 1px solid;
    border-radius: 15%;
    justify-content: center;
}

.menuitem:hover {
    position: relative;
    bottom: 15px;
    border-radius: 100%;
    border: #ffffff 5px solid;
    background: radial-gradient(120.95% 120.95% at 50% -20.95%, #145844 0%, #358E76 100%), #358E76;
    transition: all 0.3s ease-in-out;
}

.menuitem:active {
        position: relative;
        bottom: 15px;
        width: 50%;
        height: 50%;
        border-radius: 100%;
        border: #ffffff 5px solid;
        background: radial-gradient(120.95% 120.95% at 50% -20.95%, #145844 0%, #358E76 100%), #358E76;
}

i {
    color: #ffffff;
}