<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/style/landing.css">
        <%- include('./partials/links'); %>
        <title>404 Error</title>
    </head>

    <body>
        <h3>Oops...The page you're looking for doesn't exist</h3>

        <img src="/logos/logo-notext.svg" width="90" height="90">
        <p>Arrive here by mistake? Go back to <a href="/main">home page</a></p>
    </body>
</html>
