<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/landing.css">
    <link rel="stylesheet" type="text/css" href="/style/text.css">
    <link rel="stylesheet"  href="/style/buttons.css">
    <title>Landing</title>
</head>
<body>
    <div>
        <img id="logo-text" src="/logos/logo-withtext.svg" width="300" height="150">
    </div>

    <div>
        <img id="logo" class="greet" src="/logos/logo-notext.svg" width="90" height="90">

        <h2 class="greet">Hi!<br>Nice to meet you.</h2>

        <a class="greet btn" href="/signup">
          <span>Sign Up</span>
        </a>

        <a class="greet btn02" href="/login">
          <span>Log In</span>
        </a>
    </div>
</body>
</html>