<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- change path when convert to ejs! -->
    <link rel="stylesheet" href="../Public/style/text.css">
    <link rel="stylesheet" href="../Public/style/buttons.css">
    <link rel="stylesheet" href="../Public/style/main.css">
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <title>Notebook</title>
</head>
<body>
    <header class="navcontainer">
        <div class="backbutton">
            <!-- TODO: go back function -->
            <i class="fas fa-arrow-left"></i>
        </div>
    </header>

</br>
</br>
</br>

    <div class="SB_container">
        <div class="SearchBar" type="form">      
            <input type="form" placeholder="Looking for something?" id="sb_form" ></input>
            <!-- <div className="SearchBar_Img" > {img_avatar} </div> -->
        </div>
    </div>

    </br>
    </br>

    <h1 style="color: #266B59; text-align: center;">Today</h1>

    <div class="whitebtn">
        <div class="icon"></div>
            <p class="bold">groceries</p>
            <i class="fas fa-plus" id="contentPlus"></i>
        </div>
    </div>

    <footer class="menucontainer">
        <a class="menuitem" href="main.html">
            <i class="fas fa-th"></i>
        </a>
        <a class="menuitem" href="image.html">
            <i class="fas fa-images"></i>
        </a>
        <a class="menuitem on" href="list.html">
            <i class="fas fa-list"></i>
        </a>
        <a class="menuitem" href="notebook.html">
            <i class="fas fa-sticky-note"></i>
        </a>
    </footer>
</body>
</html>