<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/signup.css">
    <link rel="stylesheet" href="./style/buttons.css">
    <link rel="stylesheet" href="./style/text.css">
    <title>Document</title>
</head>
<body>
    <img id="logo" src={logo} width="100" height="90" alt="logo without text"/>

    <h2>Welcome Back!</h2>

    <form class="fields">
        <div class="field">
            <input class="txtInfo" name="fullName" type="text" placeholder="username" required></input> 
        </br>
            <input class="txtInfo" name="password" type="password" placeholder="Password" required></input>
        </div> 
        
        <button class="hardbtn">
            <p>Log In</p>
        </button>
    </form>

</body>
</html>