<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/links'); %>
    <title>Main</title>
</head>

<body>
    <%- include('./partials/header'); %>

    <!-- options -->
    <div class="options">
        <a class="whitebtn" onclick="listOverlay()">
            <p class="bold">Add Image</p>
            <div class="plusbtn">
                <i class="fas fa-plus"></i>
            </div>
        </a>

        <!-- Add a new album -->
        <div id="listOverlay" class="overlay">
            <i class="fas fa-times closebtn" onclick="closeListOverlay()"></i>

            <div class="overlay-content">
                <form method="POST" action="/secure/image">
                    <input class="txtInfo" name="albumTitle" type="text" placeholder="New Album Title" required></input>
                    </br>

                    <button type="submit" class="hardbtn">
                        <p>Save</p>
                    </button>
                </form>
            </div>
        </div>
        </br>
        </br>

        <a class="whitebtn" onclick="listOverlay()">
            <p class="bold">Add List</p>
            <div class="plusbtn">
                <i class="fas fa-plus"></i>
            </div>
        </a>
        
        <!-- Add a new list -->
        <div id="listOverlay" class="overlay">
            <i class="fas fa-times closebtn" onclick="closeListOverlay()"></i>

            <div class="overlay-content">
                <form method="POST" action="/secure/newlist">
                    <input class="txtInfo" name="listTitle" type="text" placeholder="New List Title" required></input>
                    </br>

                    <button type="submit" class="hardbtn">
                        <p>Save</p>
                    </button>
                </form>
            </div>
        </div>
        </br>
        </br>

        <a class="whitebtn" onclick="noteOverlay()">
            <p class="bold">Add Notebook</p>
            <div class="plusbtn">
                <i class="fas fa-plus"></i>
            </div>
        </a>
        <!-- Add a new notebook -->
        <div id="noteOverlay" class="overlay">
            <i class="fas fa-times closebtn" onclick="closeNoteOverlay()"></i>

            <div class="overlay-content">
                <form method="POST" action="/secure/newnotebook">
                    <input class="txtInfo" name="notebookTitle" type="text" placeholder="New Notebook Title" required></input>
                    </br>

                    <button type="submit" class="hardbtn">
                        <p>Save</p>
                    </button>
                </form>
            </div>
        </div>

    </div>

    <%- include('./partials/mainFooter'); %>

<script>
    // list overlay
    function listOverlay() {
        document.getElementById("listOverlay").style.display = "block";
    }   
    function closeListOverlay() {
        document.getElementById("listOverlay").style.display = "none";
    }

    // note overlay
    function noteOverlay() {
        document.getElementById("noteOverlay").style.display = "block";
    }   
    function closeNoteOverlay() {
        document.getElementById("noteOverlay").style.display = "none";
    }
</script>
</body>

</html>