<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/links'); %>
    <title>Main</title>
</head>

<body>
    <%- include('./partials/header'); %>

    <!-- options -->
    <div>
        <a class="whitebtn" href="/secure/image">
            <p class="bold">Add Image</p>
            <div class="plusbtn">
                <i class="fas fa-plus"></i>
            </div>
        </a>
        </br>
        </br>

        <a class="whitebtn"  onclick="openOverlay()">
            <p class="bold">Add List</p>
            <div class="plusbtn">
                <i class="fas fa-plus"></i>
            </div>
        </a>

        <!-- Add a new list -->
        <div id="myOverlay" class="overlay">
            <i class="fas fa-times closebtn" onclick="closeOverlay()"></i>

            <div class="overlay-content">
                <form method="POST" action="/secure/newlist">
                    <input class="txtInfo" name="listTitle" type="text" placeholder="List Title" required></input>
                    </br>

                    <button type="submit" class="hardbtn">
                        <p>Save</p>
                    </button>
                </form>
            </div>
        </div>
        </br>
        </br>

        <a class="whitebtn" onclick="openOverlay()">
            <p class="bold">Add Notebook</p>
            <div class="plusbtn">
                <i class="fas fa-plus"></i>
            </div>
        </a>

        <!-- Add a new notebook -->
        <div id="myOverlay" class="overlay">
            <i class="fas fa-times closebtn" onclick="closeOverlay()"></i>

            <div class="overlay-content">
                <form method="POST" action="/secure/newnotebook">
                    <input class="txtInfo" name="notebookTitle" type="text" placeholder="Notebook Title" required></input>
                    </br>

                    <button type="submit" class="hardbtn">
                        <p>Save</p>
                    </button>
                </form>
            </div>
        </div>

    </div>

    <%- include('./partials/mainFooter'); %>

<script>
    function openOverlay() {
        document.getElementById("myOverlay").style.display = "block";
    }
        
    function closeOverlay() {
        document.getElementById("myOverlay").style.display = "none";
    }
</script>

</body>
</html>