<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/style/text.css">
    <link rel="stylesheet" href="../Public/style/buttons.css">
    <link rel="stylesheet" href="../Public/style/main.css">
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <title>Document</title>
</head>
<body>
    <header class="navcontainer">
        <div class="backbutton"></div>
    </header>

    </br>
    </br>
    </br>

    <div class="SB_container">
        <div class="SearchBar" type="form">      
            <input type="form" placeholder="Looking for something?" id="sb_form" ></input>
            <!-- <div className="SearchBar_Img" > {img_avatar} </div> -->
        </div>
    </div>

    </br>
    </br>
    </br>

    <a class="whitebtn" href="./image.html">
        <div class="icon"></div>
        <p class="bold">Add Image</p>
        <div class="plusbtn">
            <i class="fas fa-plus"></i>
        </div>
    </a>
    </br>
    </br>
    <a class="whitebtn" href="./list.html">
        <div class="icon"></div>
        <p class="bold">Add List</p>
        <div class="plusbtn">
            <i class="fas fa-plus"></i>
        </div>
    </a>
    <br/>
    <br/>
    <a class="whitebtn" href="./note.html">
        <div class="icon"></div>
        <p class="bold">Add Note</p>
        <div class="plusbtn">
            <i class="fas fa-plus"></i>
        </div>
    </a>
    </div>

    <footer class="menucontainer">
        <a class="menuitem on" href="main.html">
            <i class="fas fa-th"></i>
        </a>
        <a class="menuitem" href="image.html">
            <i class="fas fa-images"></i>
        </a>
        <a class="menuitem" href="list.html">
            <i class="fas fa-list"></i>
        </a>
        <a class="menuitem" href="notebook.html">
            <i class="fas fa-sticky-note"></i>
        </a>
    </footer>
</body>
</html>