<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/style/text.css">
    <link rel="stylesheet" href="../Public/style/buttons.css">
    <link rel="stylesheet" href="../Public/style/main.css">
    <script src="https://kit.fontawesome.com/0dd19e9642.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header class="navcontainer">
        <div class="backbutton"></div>
    </header>

    </br>
    </br>
    </br>

    <div class="SB_container">
        <div class="SearchBar" type="form">      
            <input type="form" placeholder="Looking for something?" id="sb_form" ></input>
            <!-- <div className="SearchBar_Img" > {img_avatar} </div> -->
        </div>
    </div>

    </br>
    </br>
    </br>

    <div class="whitebtn">
        <div class="icon"></div>
        <p class="bold">Add Image</p>
        <div class="plusbtn">
            <i class="fas fa-plus"></i>
        </div>
    </div>
</br>
</br>
    <div class="whitebtn">
        <div class="icon"></div>
        <p class="bold">Add List</p>
        <div class="plusbtn">
            <i class="fas fa-plus"></i>
        </div>
    </div>
    <br/>
    <br/>
    <div class="whitebtn">
        <div class="icon"></div>
        <p class="bold">Add Note</p>
        <div class="plusbtn">
            <i class="fas fa-plus"></i>
        </div>
    </div>

    <footer class="menucontainer">
        <div class="menuitem"><i class="fas fa-th"></i>
        
        </div>
        <div class="menuitem"><i class="fas fa-images"></i></div>
        <div class="menuitem"><i class="fas fa-list"></i></div>
        <div class="menuitem"><i class="fas fa-sticky-note"></i></div>
    </footer>
</body>
</html>