<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/style/text.css">
    <link rel="stylesheet" href="../Public/style/buttons.css">
    <link rel="stylesheet" href="../Public/style/main.css">
    <link rel="stylesheet" href="../Public/style/note.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
    <script src="https://kit.fontawesome.com/0dd19e9642.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header class="navcontainer">
        <div class="backbutton">
            <!-- TODO: go back function -->
            <i class="fas fa-arrow-left"></i>
        </div>
    </header>

</br>
</br>
</br>

    <content>
        <textarea id="title" name="noteTitle" placeholder="Add Title"></textarea>
    </br>
        <textarea id="content" name="note" placeholder="Content"></textarea>  
    </content>

</br>

    <button type="submit" class="hardbtn" name="submit">
        <p>Save</p>
    </button>

    <footer class="menucontainer">
        <div class="menuitem">
            <i class="fas fa-th"></i>
        </div>
    
        <div class="menuitem">
            <i class="fas fa-images"></i>
        </div>
    
        <div class="menuitem">
            <i class="fas fa-list"></i>
        </div>
        
        <div class="menuitem">
            <i class="fas fa-sticky-note"></i>
        </div>
    </footer>
</body>
</html>