<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/links'); %>
    <link rel="stylesheet" href="/style/note.css">
    <title>Add Note</title>
</head>
<body>
    <%- include('./partials/header'); %>

    <content>
        <textarea id="title" name="noteTitle" placeholder="Add Title"></textarea>
    </br>
        <textarea id="content" name="note" placeholder="Content"></textarea>  
    </content>

</br>

    <button type="submit" class="hardbtn" name="submit">
        <p>Save</p>
    </button>

    <a id="addImg" class="menuitem on">
        <i class="fas fa-images" onclick="openOverlay()"></i>
    </a>
    
    <div id="myOverlay" class="overlay">
        <i class="fas fa-times closebtn" onclick="closeOverlay()"></i>
        <div class="overlay-content">
            <form method="post" enctype="multipart/form-data">
                <input class="hardbtn" type="file" name="image"></input>
                <!-- submit input? -->
            </form>
        </div>
    </div>

    <%- include('./partials/noteFooter'); %>

<script>
    function openOverlay() {
        document.getElementById("myOverlay").style.display = "block";
    }
        
    function closeOverlay() {
        document.getElementById("myOverlay").style.display = "none";
    }
</script>
</body>
</html>