<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/links'); %>
    <link rel="stylesheet" href="/style/note.css">
    <title>Edit Note</title>
</head>
<body>
    <%- include('./partials/header'); %>

    <form method="POST" action="/secure/newnotebook/<%= notebook_id %>" enctype="multipart/form-data">
        <textarea id="title" name="noteTitle" placeholder="Add Title" required></textarea>
        </br>

        <textarea id="content" name="note" placeholder="Content"></textarea>  
        </br>

        <!-- upload image in note -->
        <a id="addImg" class="menuitem on">
            <i class="fas fa-images" onclick="openOverlay()"></i>
        </a>
            
        <div id="myOverlay" class="overlay">
            <i class="fas fa-times closebtn" onclick="closeOverlay()"></i>
            <div class="overlay-content">
                <input class="hardbtn" type="file" name="noteImage"></input>
                <button class="btn02" type="submit">Save Image</button>
            </div>
        </div>

        <button type="submit" class="hardbtn">
            <p>Save</p>
        </button>
    </form>

    <%- include('./partials/noteFooter'); %>

<script>
    function openOverlay() {
        document.getElementById("myOverlay").style.display = "block";
    }
        
    function closeOverlay() {
        document.getElementById("myOverlay").style.display = "none";
    }
</script>
</body>
</html>