<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/style/text.css">
    <link rel="stylesheet" href="../Public/style/buttons.css">
    <link rel="stylesheet" href="../Public/style/main.css">
    <link rel="stylesheet" href="../Public/style/note.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <title>Document</title>
</head>
<body>
    <header class="navcontainer">
        <div class="backbutton">
            <!-- TODO: go back function -->
            <i class="fas fa-arrow-left"></i>
        </div>
    </header>

</br>
</br>
</br>

    <content>
        <textarea id="title" name="noteTitle" placeholder="Add Title"></textarea>
    </br>
        <textarea id="content" name="note" placeholder="Content"></textarea>  
    </content>

</br>

    <button type="submit" class="hardbtn" name="submit">
        <p>Save</p>
    </button>

    <footer class="menucontainer">
        <a class="menuitem" href="main.html">
            <i class="fas fa-th"></i>
        </a>
        <a class="menuitem" href="image.html">
            <i class="fas fa-images"></i>
        </a>
        <a class="menuitem" href="list.html">
            <i class="fas fa-list"></i>
        </a>
        <a class="menuitem on" href="notebook.html">
            <i class="fas fa-sticky-note"></i>
        </a>
    </footer>
</body>
</html>