<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/style/text.css">
    <link rel="stylesheet" href="../Public/style/buttons.css">
    <link rel="stylesheet" href="../Public/style/main.css">
    <link rel="stylesheet" href="../Public/style/signup.css">
    <script src="https://kit.fontawesome.com/0dd19e9642.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="profile.css">
    <title>Document</title>
</head>
<body>
    <header class="navcontainer">
        <div class="backbutton">
            <!-- TODO: go back function -->
            <i class="fas fa-arrow-left"></i>
        </div>
    </header>

    </br>
    </br>
    </br>

    <!-- user firstname -->
    <h1> Christina </h1>

    <div class="settingTab">
        <div class="settingTxt">
            <i class="fas fa-user" style="color: #358E76">
                Profile Setting
            </i>
        </div>
    </div>

</br>

    <!-- user information -->
    <div class="inputField">
        <form class="fields" method="POST" action="/user/register">
            <div class="field">
                <label style="color: #358E76;">Name</label>
                </br>
                <input class="txtInfo" name="firstName" type="text" placeholder="First Name" readonly></input>
                </br>
                <input class="txtInfo" name="lastName" type="text" placeholder="Last Name" readonly></input>
                </br>
         
                <label style="color: #358E76;">Change password</label>
                </br>   
                <!-- password same validator needed -->
                <input class="txtInfo" name="password" type="password" placeholder="Password" required></input>
                </br>
                <input class="txtInfo" name="confirmPW" type="password" placeholder="Confirm Password" required></input>
            </div>                

        </br>
        </br>

            <div class="changes">
                <button class="hardbtn" type="submit">
                    <p>Save</p>
                </button>

            </br>
            
                <button class="hardbtn" type="submit">
                    <p>Cancel</p>
                </button>
            </div>       
        </form>
    </div>

    <footer class="menucontainer">
        <div class="menuitem">
            <i class="fas fa-th"></i>
        </div>
    
        <div class="menuitem">
            <i class="fas fa-images"></i>
        </div>
    
        <div class="menuitem">
            <i class="fas fa-list"></i>
        </div>
        
        <div class="menuitem">
            <i class="fas fa-sticky-note"></i>
        </div>
    </footer>
</body>
</html>