<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/style/text.css">
    <link rel="stylesheet" href="../Public/style/buttons.css">
    <link rel="stylesheet" href="../Public/style/main.css">
    <link rel="stylesheet" href="../Public/style/signup.css">
    <script src="https://kit.fontawesome.com/0dd19e9642.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="profile.css">
    <title>Document</title>
</head>
<body>
    <header class="navcontainer">
        <div class="backbutton">
            <!-- TODO: go back function -->
            <i class="fas fa-arrow-left"></i>
        </div>
    </header>

    </br>
    </br>
    </br>

    <!-- user firstname -->
    <h1> Christina </h1>

    <div class="setting">
        <a class="settingTab" href="profile.html">
            <div class="settingTxt">
                <i class="fas fa-user" style="color: #358E76">
                    Profile Setting
                </i>
            </div>
        </a>

        <div class="settingTab">
            <div class="settingTxt">
                <i class="fas fa-phone" style="color: #358E76">
                    Contact Us
                </i>
            </div>
        </div>

        <div class="settingTab">
            <div class="settingTxt">
                <i class="fas fa-share" style="color: #358E76">
                    Share with friends
                </i>
            </div>
        </div>

        <div class="settingTab">
            <div class="settingTxt">
                <i class="fas fa-question-circle" style="color: #358E76">
                    FAQ / How to use
                </i>
            </div>
        </div>

        <div class="settingTab">
            <div class="settingTxt">
                <i class="fas fa-sticky-note" style="color: #358E76">
                    Privacy Policy
                </i>
            </div>
        </div>
    </div>

    <footer class="menucontainer">
        <div class="menuitem">
            <i class="fas fa-th"></i>
        </div>
    
        <div class="menuitem">
            <i class="fas fa-images"></i>
        </div>
    
        <div class="menuitem">
            <i class="fas fa-list"></i>
        </div>
        
        <div class="menuitem">
            <i class="fas fa-sticky-note"></i>
        </div>
    </footer>
</body>
</html>