<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style/signup.css">
    <%- include('./partials/links'); -%>
    <title>Sign Up</title>
</head>

<body>
    <div>
        <h1>Sign Up</h1>

        <!-- if reset password -->
        <% if (locals.msg) { %>
            <div class="alert" style="background-color: red;">
                <span
                    class="closeMsgBtn"
                    onclick="this.parentElement.style.display='none';"
                >
                    &times;
                </span>
                <%= msg %>
            </div>
        <% } %>

        <form class="fields" method="POST" action="/user/register">
            <div class="field">
                <label>Let's start with your name.</label>
                </br>
                <input class="txtInfo" name="firstName" type="text" placeholder="First Name" required></input>
                </br>
                <input class="txtInfo" name="lastName" type="text" placeholder="Last Name" required></input>
                </br>

                <label>Enter a valid email address.</label>
                </br>
                <input class="txtInfo" name="email" type="email" placeholder="someone@example.com" required></input>
                </br>
         
                <label>Set a password</label>
                </br>   
                <input class="txtInfo" name="password" type="password" placeholder="Password" required></input>
            </div>                

        </br>
        </br>
            <button class="hardbtn" type="submit">
                <p>Proceed</p>
            </button>
        </form>
    </div>

    <a href="/login" class="redirectLink">
        <p>Already have an account?</p>
    </a>
</body>
</html>