<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style/signup.css">
    <%- include('./partials/links'); -%>
    <title>Sign Up</title>
</head>

<body>
    <div>
        <h1>Sign Up</h1>

        <form class="fields" method="POST" action="/user/register">
            <div class="field">
                <label>Let's start with your name.</label>
                </br>
                <input class="txtInfo" name="firstName" type="text" placeholder="First Name" required></input>
                </br>
                <input class="txtInfo" name="lastName" type="text" placeholder="Last Name" required></input>
                </br>

                <label>Enter a valid email address.</label>
                </br>
                <input class="txtInfo" name="email" type="email" placeholder="someone@example.com" required></input>
                </br>

                <!-- <label>When is your birthday?</label>
                </br>
                <input class="bdInfo" name="day" placeholder="Day, eg. 14"></input>
                </br> 
                <input class="bdInfo" name="month" placeholder="Month, eg. 4"></input>
                </br>
                <input class="bdInfo" name="year" placeholder="Year, eg. 1990"></input>  
                </div>
                </br> -->
         
                <label>Set a password</label>
                </br>   
                <input class="txtInfo" name="password" type="password" placeholder="Password" required></input>
            </div>                

        </br>
        </br>
        <!-- msg to user -->
            <button class="hardbtn" type="submit">
                <p>Proceed</p>
            </button>
        </form>
    </div>

    <a href="/login" class="redirectLink">
        <p>Already have an account?</p>
    </a>
</body>
</html>